---
const resources = Astro.props.resources;
---

<h2>Resources</h2>
<ul class="resources">
  {
    resources.map((r) => {
      return (
        <li>
          <a href={r.url}>{r.title}</a>
          {r.description && (
            <>
              <br />
              {r.description}
            </>
          )}
        </li>
      );
    })
  }
</ul>
<style>
  .resources li {
    margin-block-start: 0.5rem;
    line-height: 1.5;
  }
</style>
