---
import { type CollectionEntry, getCollection, render } from "astro:content";

const panes = (await getCollection("panes")).sort(
  (a, b) => a.data.year - b.data.year
);
---
      <nav>
        <ul>
        <li><a href="/">Stamp Panes</a></li>
       <!-- <li>Stamp Panes
            <ul>
                {
                    panes.map((p) => {
                       return(
                        <li><a href={`/panes/${p.id}/`}>{p.data.title}</a></li>
                       )
                    
                    })
                }
            </ul>
        </li> -->
        <li><a href="/map/">First Issue Map</a></li>
        </ul>
      </nav>